[Bb]in/
[Oo]bj/
packages/
.vs/
*.user
*.suo
Release/
Debug/
*.dbmdl
desktop.ini
*.orig
UpgradeLog.htm
*.sdf
*.opendb
*.jfm
logs
ComponentsGenerated.wxs
Key-Permanent-ShareIt-1999352962-20220523.txt
publish/
Debug/